<div class="main-content">
    <section>
       <div class="container">
          <div class="row">
              <div class="col-md-3">
              
              </div>
             <div class="col-md-6 col-md-push-6 bg-white-f3 pd-20">
                <h4 class="text-gray mt-0 pt-5 text-center">Register & get your dream job</h4>
                <form method="POST" id="signupform" action="https://www.firstenquiry.com/user/saveCandidate">
                   <div class="row">
                      <div class="form-group col-sm-6">
                         <label>Full name</label>
                         <input type="text" id="fname" name="name" class="form-control">
                         <i id="nerror"></i>
                      </div>
                      <div class="form-group col-sm-6">
                         <label>mobile</label>
                         <input type="tel" id="mobile" name="mobile" class="form-control">
                         <i id="merror"></i>
                      </div>
                   </div>
                   <div class="row">
                      <div class="form-group col-sm-12">
                         <label>Email</label>
                         <input type="text" id="email" name="email" class="form-control">
                         <i id="eerror"></i>
                      </div>
                   </div>
                   <div class="row form-group">
                      <div class="form-group col-sm-6">
                         <label>password</label>
                         <input type="password" id="password" name="password2" class="form-control">
                         <em>password min 5 character</em>
                         <i id="perror"></i>
                      </div>
                      <div class="form-group col-sm-6">
                         <label>confirm password</label>
                         <input type="password" id="cpassword" class="form-control">
                         <em>Confirm password min 5 character</em>
                         <i id="cperror"></i>
                      </div>
                   </div>
                   <div class="form-group text-center">
                      <button type="button" class="btn btn-primary"  onclick="save()">Register</button>
                   </div>
                   <div class="clear text-center pt-10">
                     <div class="row">
                      <div class="col-md-6">
                         <a class="text-theme-colored font-weight-600 font-12 text-left" 
                         href="https://www.firstenquiry.com/login">I have account ? <u>Login</u> </a>
                      </div>
                      <div class="col-md-6">
                         <a class="text-theme-colored font-weight-600 font-12 text-right" 
                         href="#"><u>Forgot Your Password ?</u></a>
                      </div>
                    </div>
                   </div>
                   <div class="col-md-3">
              
                    </div>
                </form>
                <br>
                <br>
             </div>
          </div>
       </div>
    </section>
 </div>